.container {
    margin-top: 3rem;
    width: 100%;
    height: 25%;
    display: inline-block
}

.card {
    background-color: var(--color-card);
    border-radius: 1.5rem;
    position: relative;
    top: 0;
    transition: all ease 0.5s;
    float: left;
    width: 25%;
    text-align: center;
    margin-left: 1rem;
    margin-top: 1rem;
    min-width: 10rem;
    padding-bottom: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: var(--color-card-text);
    min-height: 30rem;
}

.card p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}



.card:hover {
    top: -10px;
    transform: scale(1.05);
}

.card a {
  transition: 0.25s;
  text-decoration: underline;
  text-decoration-color: transparent;
  margin-bottom: 0.5rem;
  vertical-align:bottom;
}

.card:hover a { 
  text-decoration-color: var(--color-card-text);
}

.card h2 {
    margin: 0.5rem;
    padding-top: 0.5rem;
}

.card img {
    width: 90%;
    border-radius: 0.5rem;
    padding: 1rem;
}


@media only screen and (max-width: 600px) {
  .card {
    margin-top: 20rem;
    min-height: 5em
  }
}

.link {
  font-size: 1.5rem;
  font-weight: bold;
}
