.spotify {
    background-color: var(--color-card);
    color: var(--color-card-text);
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    margin-top: 5rem;
    margin-bottom: -2rem;
    display: inline-block;
    transition: all ease 0.5s;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
}

.spotify:hover {
    margin-top: 10px;
}

.spotify img {
    height: 4rem;
    float: right;
}

.spotify h2 {
    font-size: 1.25rem;
    float: left;
}