@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=VT323&display=swap');

body,
body[data-theme="light"] {
  --color-text-primary:   #27201a;
  --color-text-secondary: #ca0096;
  --color-bg-primary:     #f3f3f3;
  --color-bg-toggle:      #ca0096;
  --color-card-text:      #ffffff;
  --color-card:           #ca0096;
  --color-blog-text:      #000000;
}

body[data-theme="dark"] {
  --color-text-primary:   #e3e3e3;
  --color-text-secondary: #35FF69;
  --color-bg-primary:     #494947;
  --color-bg-toggle:      #35FF69;
  --color-card-text:      #ffffff;
  --color-card:           #222222;
  --color-blog-text:      #000000;
}

html,
body {
  margin: 0;
  font-family: 'Source Code Pro', monospace, sans-serif;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  margin-right: rem;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.25s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.code {
  background: #222222;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

