

/* The navigation menu links */
.sidenav a {
    padding: 1rem 0 1rem 0.5rem;
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-bg-primary);
    display: block;
}

@media only screen and (min-width: 600px) {
    .sidenav {
        height: 100%; /* Full-height: remove this if you want "auto" height */
        width: 3rem; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        right: 0;
        background-color: var(--color-bg-toggle); /* Black */
        overflow-x: hidden; /* Disable horizontal scroll */
        padding-top: 0.1rem;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }
    .sidenav
    content {
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        bottom: 0; /* Stay at the top */
    }
    .toggle {
      transform: rotate(90deg);
      margin-left: -0.9rem;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
    }
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: var(--color-bg-secondary);
}

@media only screen and (max-width: 600px) {
    .sidenav {
        width: 100%; /* Full-height: remove this if you want "auto" height */
        height: 3rem; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 10; /* Stay on top */
        top: 0; /* Stay at the top */
        background-color: var(--color-bg-toggle); /* Black */
        overflow-y: hidden; /* Disable vertical scroll */
        padding-top: 0.1rem;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 0px;
        right: 0;
        overflow-x: hidden; /* Disable horizontal scroll */


    }
    .sidenav
    content {
        top: 0;
        margin-right: 1rem;
        margin-top: -0.7rem;
    }

    .icon {
      float: right;
      margin-top: -1rem;
      margin-right: 0.5rem;
    }

    .toggle {
      transform: rotate(0);
      margin-top: 0.2rem;
      float: left;

    }

}
